
### Nível Intermediário

1. **Listagem de Clientes com Automóveis e Marcas**: Crie uma query que liste todos os clientes, incluindo o nome do cliente e os detalhes dos automóveis (modelo, marca e ano) que possuem. Ordene o resultado pelo nome do cliente.

2. **Rastreadores Ativos**: Escreva uma query que selecione todos os rastreadores ativos, exibindo o tipo de rastreador, a marca e o modelo do automóvel associado, bem como o nome do cliente. Inclua apenas os rastreadores associados a automóveis travados (`travado` = 1).

3. **Serviços Contratados por Cliente com Total**: Desenvolva uma query que liste cada cliente com os serviços contratados, incluindo o nome do serviço, a descrição, o preço base do serviço, e um total geral do preço dos serviços por cliente.

### Nível Avançado

4. **Eventos Recentes por Automóvel**: Crie uma query para listar os últimos eventos registrados de cada automóvel, incluindo latitude, longitude, velocidade, temperatura do motor e externa. A lista deve ser ordenada pelo momento do evento (`data`) de forma decrescente.

5. **Análise de Velocidade Média por Tipo de Rastreador**: Elabore uma query que calcule a velocidade média registrada por cada tipo de rastreador, incluindo apenas registros com velocidade maior que zero. Agrupe o resultado por tipo de rastreador e ordene pela velocidade média de forma decrescente.

6. **Clientes sem Serviços Ativos**: Crie uma query que identifique clientes que não possuem nenhum serviço ativo (`ativo` = 0 ou nulo) associado a seus automóveis. Liste o nome do cliente e o total de automóveis que possui.

7. **Custo Total de Serviços por Marca de Automóvel**: Desenvolva uma query que some o preço base de todos os serviços ativos contratados para automóveis de cada marca, apresentando o nome da marca e o custo total dos serviços. Ordene o resultado pelo custo total decrescente.

In [1]:
import mysql.connector
from functools import partial
import os
import insperautograder.jupyter as ia
from dotenv import load_dotenv

In [2]:
load_dotenv(override=True)

def get_connection_helper():

    def run_db_query(connection, query, args=None):
        with connection.cursor() as cursor:
            print("Executando query:")
            cursor.execute(query, args)
            for result in cursor:
                print(result)

    connection = mysql.connector.connect(
        host=os.getenv("MD_DB_SERVER"),
        user=os.getenv("MD_DB_USERNAME"),
        password=os.getenv("MD_DB_PASSWORD"),
        database="cartracking",
    )
    return connection, partial(run_db_query, connection)


connection, db = get_connection_helper()

4. **Eventos Recentes por Automóvel**: Crie uma query para listar os últimos eventos registrados de cada automóvel, incluindo latitude, longitude, velocidade, temperatura do motor e externa. A lista deve ser ordenada pelo momento do evento (`data`) de forma decrescente.

In [34]:
ex4 = """
SELECT * FROM automovel
JOIN rastreador USING(idautomovel)
JOIN evento USING(idrastreador)
ORDER BY data DESC
"""

db(ex4)

Executando query:
(5, 7, 2019, 4, 6, 1, 1, 1, 18, Decimal('-63.23788'), Decimal('-18.13235'), Decimal('400.00'), Decimal('33.8600'), Decimal('80.10'), Decimal('41.70'), datetime.datetime(2023, 2, 8, 11, 45))
(5, 7, 2019, 4, 6, 1, 1, 1, 19, Decimal('-63.65456'), Decimal('-18.32556'), Decimal('402.00'), Decimal('0.0000'), Decimal('25.80'), Decimal('28.40'), datetime.datetime(2023, 2, 7, 11, 45))
(5, 7, 2019, 4, 6, 1, 1, 1, 15, Decimal('-72.08521'), Decimal('-13.46708'), Decimal('3399.00'), Decimal('88.7000'), Decimal('89.92'), Decimal('33.40'), datetime.datetime(2023, 2, 6, 11, 45, 1))
(5, 7, 2019, 4, 6, 1, 1, 1, 16, Decimal('-72.08521'), Decimal('-13.46708'), Decimal('3399.00'), Decimal('0.0000'), Decimal('19.40'), Decimal('19.30'), datetime.datetime(2023, 2, 5, 11, 45))
(5, 7, 2019, 4, 6, 1, 1, 1, 17, Decimal('-63.23911'), Decimal('-18.27962'), Decimal('400.00'), Decimal('45.1300'), Decimal('82.74'), Decimal('36.10'), datetime.datetime(2023, 2, 4, 11, 45, 2))
(5, 7, 2019, 4, 6, 1, 1, 1, 14, Decimal('-75.65464'), Decimal('-12.89799'), Decimal('0.00'), Decimal('77.5000'), Decimal('74.13'), Decimal('25.90'), datetime.datetime(2023, 2, 2, 11, 45))
(1, 1, 2005, 4, 11, 0, 1, 1, 3, Decimal('-47.04609'), Decimal('-22.71835'), Decimal('652.00'), Decimal('89.9100'), Decimal('87.50'), Decimal('29.10'), datetime.datetime(2023, 1, 2, 19, 57, 3))
(1, 1, 2005, 4, 11, 0, 1, 1, 5, Decimal('-47.15799'), Decimal('-22.11923'), Decimal('637.00'), Decimal('72.9000'), Decimal('90.10'), Decimal('30.30'), datetime.datetime(2023, 1, 2, 3, 0))
(1, 1, 2005, 4, 11, 0, 1, 1, 4, Decimal('-47.12901'), Decimal('-22.52341'), Decimal('642.00'), Decimal('95.4000'), Decimal('90.20'), Decimal('30.50'), datetime.datetime(2023, 1, 2, 2, 0))
(1, 1, 2005, 4, 11, 0, 1, 1, 2, Decimal('-46.56907'), Decimal('-23.51799'), Decimal('712.00'), Decimal('87.0000'), Decimal('89.20'), Decimal('29.20'), datetime.datetime(2023, 1, 1, 19, 52))
(1, 1, 2005, 4, 11, 0, 1, 1, 1, Decimal('-46.56376'), Decimal('-23.51799'), Decimal('705.00'), Decimal('85.4200'), Decimal('85.70'), Decimal('29.10'), datetime.datetime(2023, 1, 1, 19, 47, 55))
(8, 6, 2022, 5, 7, 0, 1, 0, 22, Decimal('-47.56549'), Decimal('-23.65654'), Decimal('651.00'), Decimal('40.4100'), Decimal('82.74'), Decimal('17.80'), datetime.datetime(2022, 12, 24, 16, 0, 2))
(8, 6, 2022, 5, 7, 0, 1, 0, 21, Decimal('-46.56378'), Decimal('-23.51788'), Decimal('704.00'), Decimal('0.0000'), Decimal('22.10'), Decimal('19.54'), datetime.datetime(2022, 12, 23, 16, 0, 1))
(8, 6, 2022, 5, 7, 0, 1, 0, 20, Decimal('-46.56378'), Decimal('-23.51788'), Decimal('704.00'), Decimal('0.0000'), Decimal('60.50'), Decimal('18.49'), datetime.datetime(2022, 12, 22, 16, 0))
(3, 3, 2015, 4, 5, 0, 1, 1, 9, Decimal('-63.00327'), Decimal('-5.69254'), Decimal('47.00'), Decimal('145.7000'), Decimal('82.53'), Decimal('28.91'), datetime.datetime(2015, 8, 22, 7, 30))
(4, 8, 2023, 5, 1, 0, 1, 1, 13, Decimal('-42.09981'), Decimal('-11.11891'), Decimal('900.00'), Decimal('102.1800'), Decimal('89.49'), Decimal('50.50'), datetime.datetime(2014, 6, 8, 9, 30, 3))
(4, 8, 2023, 5, 1, 0, 1, 1, 12, Decimal('-41.56485'), Decimal('-10.78781'), Decimal('1248.00'), Decimal('98.7000'), Decimal('82.80'), Decimal('33.40'), datetime.datetime(2014, 6, 7, 9, 30, 1))
(4, 8, 2023, 5, 1, 0, 1, 1, 11, Decimal('-41.54564'), Decimal('-9.54689'), Decimal('1213.00'), Decimal('88.4000'), Decimal('87.50'), Decimal('48.20'), datetime.datetime(2014, 6, 6, 9, 30, 2))
(4, 8, 2023, 5, 1, 0, 1, 1, 10, Decimal('-40.65498'), Decimal('-9.51254'), Decimal('1200.00'), Decimal('92.4500'), Decimal('88.60'), Decimal('49.75'), datetime.datetime(2014, 6, 5, 9, 30))
(2, 2, 2018, 5, 1, 0, 2, 0, 8, Decimal('-55.56489'), Decimal('-22.13285'), Decimal('576.00'), Decimal('96.1000'), Decimal('115.80'), Decimal('46.50'), datetime.datetime(2013, 5, 17, 17, 0))
(2, 2, 2018, 5, 1, 0, 2, 0, 7, Decimal('-55.23157'), Decimal('-21.65487'), Decimal('584.00'), Decimal('98.7000'), Decimal('102.80'), Decimal('48.70'), datetime.datetime(2013, 5, 17, 16, 0))
(2, 2, 2018, 5, 1, 0, 2, 0, 6, Decimal('-54.75013'), Decimal('-20.42616'), Decimal('591.00'), Decimal('95.4000'), Decimal('99.50'), Decimal('45.10'), datetime.datetime(2013, 5, 17, 15, 0))

5. **Análise de Velocidade Média por Tipo de Rastreador**: Elabore uma query que calcule a velocidade média registrada por cada tipo de rastreador, incluindo apenas registros com velocidade maior que zero. Agrupe o resultado por tipo de rastreador e ordene pela velocidade média de forma decrescente.

In [8]:
ex5 = """
SELECT descricao, AVG(velocidade) FROM rastreador
JOIN tipo USING(idTipo)
JOIN evento USING(idRastreador)
GROUP BY idTipo
ORDER BY AVG(velocidade) DESC
"""
db(ex5)

Executando query:
('PRECISION', Decimal('96.73333333'))
('LITE', Decimal('65.45578947'))

6. **Clientes sem Serviços Ativos**: Crie uma query que identifique clientes que não possuem nenhum serviço ativo (`ativo` = 0 ou nulo) associado a seus automóveis. Liste o nome do cliente e o total de automóveis que possui.

In [32]:
ex6 = """
    SELECT nome, COUNT(DISTINCT idautomovel) FROM cliente 
    JOIN automovel USING(idcliente)
    JOIN automovel_has_servico USING(idautomovel)
    WHERE ativo = 0
    GROUP BY idcliente
"""

db(ex6)

Executando query:
('Agromil', 3)

7. **Custo Total de Serviços por Marca de Automóvel**: Desenvolva uma query que some o preço base de todos os serviços ativos contratados para automóveis de cada marca, apresentando o nome da marca e o custo total dos serviços. Ordene o resultado pelo custo total decrescente.

In [26]:
ex7 = """
SELECT marca, SUM(preco_base) AS total FROM marca
JOIN modelo USING(idmarca)
JOIN automovel USING(idmodelo)
JOIN automovel_has_servico USING(idautomovel)
JOIN servico USING(idservico)
WHERE ativo = 1
GROUP BY marca
ORDER BY total DESC
"""

db(ex7)

Executando query:
('Toyota', Decimal('159.50'))
('Nissan', Decimal('159.50'))
('Volkswagen', Decimal('109.60'))
('Honda', Decimal('89.70'))